<html>

<head>
    <meta charset="UTF-8">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "WebApp/css/bootstrap.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static 'WebApp/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static "WebApp/css/result.css" %}" type="text/css">
    <script src="{% static "WebApp/js/d3.min.js" %}"></script>
    <script src="{% static "WebApp/js/dimple.v2.1.6.min.js" %}"></script>
    <script type="text/javascript" src="{% static 'WebApp/js/plupload.full.min.js' %}"></script>
</head>

<body>

<div id="nav">
    <div id="logo">
        <a href="{% url 'index' %}"><img src="{% static 'WebApp/img/logo.jpeg' %}" alt="logo"></a>
    </div>
    <ul id="navi">
        <li class="navMenu"><a href="{% url 'honeycell' %}">HoneyCell</a></li>
		<li class="navMenu"><a href="{% url 'upload' %}">New Task</a></li>
        <li class="navMenu"><a href="{% url 'preprocess' %}">Preprocessing</a></li>
        <li class="navMenu"><a href="{% url 'preprocess' %}">Analytics</a></li>
        <li class="navMenu"><a href="{% url 'visualization' %}">Visualization</a></li>
		<li class="navMenu"><a href="{% url 'logout' %}">Logout</a></li>
	</ul>
</div>

<h2 class="logo" >Please upload the file you need processing: </h2>
<div id="filelist">Your browser doesn't have Flash, Silverlight or HTML5 support.</div>
<br />

<div id="container">
    <a id="pickfiles" href="javascript:;">[Select files]</a>
    <a id="uploadfiles" href="javascript:;">[Upload files]</a>
</div>

<script type="text/javascript">
// Custom example logic

var uploader = new plupload.Uploader({
	runtimes : 'html5,flash,silverlight,html4',
	browse_button : 'pickfiles', // you can pass an id...
	container: document.getElementById('container'), // ... or DOM Element itself
	url : 'upload.php',
	flash_swf_url : '../js/Moxie.swf',
	silverlight_xap_url : '../js/Moxie.xap',

	filters : {
		max_file_size : '10mb',
		mime_types: [
			{title : "Image files", extensions : "jpg,gif,png"},
			{title : "Zip files", extensions : "zip"}
		]
	},

	init: {
		PostInit: function() {
			document.getElementById('filelist').innerHTML = '';

			document.getElementById('uploadfiles').onclick = function() {
				uploader.start();
				return false;
			};
		},

		FilesAdded: function(up, files) {
			plupload.each(files, function(file) {
				document.getElementById('filelist').innerHTML += '<div id="' + file.id + '">' + file.name + ' (' + plupload.formatSize(file.size) + ') <b></b></div>';
			});
		},

		UploadProgress: function(up, file) {
			document.getElementById(file.id).getElementsByTagName('b')[0].innerHTML = '<span>' + file.percent + "%</span>";
		},

		Error: function(up, err) {
			document.getElementById('console').appendChild(document.createTextNode("\nError #" + err.code + ": " + err.message));
		}
	}
});

uploader.init();

</script>
</body>

</body>
</html>

